.dashboard-container{
    display: flex;
    flex-direction: column;
 /* height: 100vh; {height commented as height will auto matically adjust by positoin automatically} */
}
#appbar {
    display: flex;
    width: 100%;
    background-color: rgb(114, 13, 13);
    height: 60px;
    padding: 5px 156px;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}
.icon-search{
    display: flex;
    align-items: center;
    width: 100%;   
}
.book{
    width: 45px;
    height: 45px;
}
#search {
    height: 25px;
    width: 49%;
    border-radius: 3px;
    padding-left: 10px;
    /* outline: none; */
    margin-left: 50px;
    border-radius: 4px;
    border: 1px solid white;
}
#add-shoping{
    width: 40px;
    height: 40px;
    /* margin: 130%; */
}

.Bookstore{
    margin-left: 5px;
    font-weight: 300;
}
